*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Custom Properties */

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Sans Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media(min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/*General Styles */

html {
  scroll-behavior: smooth;
}


body {

  background-color: var(--clr-light);
  color:var(--clr-dark);
  margin:0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding:5em 2em;
}

img {
  display:block;
  max-width: 100%;
}

reg { font-weight: var(--fw-reg) }


@media(min-width: 1000px) {
  .coding {
    display: block;

  }
}

/* Button */

.btn {
  display: inline-block;
  padding: .5em 1.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  cursor:pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.2);
  background-color:#9999ff;
}


/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin:0;
}

h1 {font-size: var(--fs-h1)}
h2 {font-size: var(--fs-h2)}
h3 {font-size: var(--fs-h3)}

regular { font-weight: var(--fw-reg) }

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}


.section__title {
  margin-bottom: .25em;
}

.section__title strong {
  display:block;
}


.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;

}

/*Header */

.logo {
  height: 50px;
  width: 50px;
}

header {
  display:flex;
  justify-content: space-between;
  height: 100px;
  background:var(--clr-dark);
  padding: 1em;
  box-shadow:var(--bs);  
}


/* Navbar */

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(1000%);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.dropdown-menu {
  width: 200px;
  height: 100px;
  
}

.dropdown-item {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
    background: var(--clr-light);
  color: var(--clr-dark);
    font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  border-left: 6px solid #9999ff;
  border-right: 6px solid #9999ff;
    



}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

/*@media (min-width: 800px) {
  .dropdown-item {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
  }
*/

/* Nav button */
.nav__toggle {
  padding: 1.5em;
  background: var(--clr-accent);
  box-shadow:var(--bs);  
  cursor: pointer;
  position: absolute;
  right:1em;
  top:.5em;
  bottom:1em;
  z-index: 1000;
}

.nav__toggle:hover { background-color: #9999ff; }

.dropdown-item:hover { color: #16e0bd; text-decoration: none;}

.nav-open .nav {
  transform: translateX(0);


}

.nav-open .nav-toggle {
  position: fixed;

 
}

.nav-open .hamburger {
  transform: rotate(.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}



/* Hamburger */

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-dark);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;

}

.hamburger::before,
.hamburger::after {
  content:'';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {top: 6px;}
.hamburger::after {bottom: 6px;}



/* Intro section */

.intro {
  position: relative;
}

@media(min-width: 400px) {
  .intro {
    display: grid;
    width: min-content;
    margin:0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }
}

.section__subtitle {
  margin:0;
  font-size: var(--fs-h3);
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  height: 80px;
  align-self:start;
  grid-column: -1/1;
  grid-row: 2;
  text-align: right;
  position: relative;
  left: -1.5em;
  width:calc(100% +2em);
  padding:.5em 1em;
}


/*Profile picture */

.intro-image {
  grid-area: img;
  min-width: 250px;
  max-width: 320px;
  position: relative;
  z-index: 2;
  box-shadow:var(--bs);
}

.section__subtitle--intro{
  align-self: start;
}


/* Coding section */

.coding_section {
  background-color: var(--clr-dark);
  background-size: cover;
  background-image: url(./img/computer.jpeg);
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align:center;
  margin-left: 0.5 auto 1em; 
}

 .coding__title {
  color: var(--clr-accent);
  position: relative;
  font-weight:var(--fw-bold)
 }

.coding__title::after {
  content:'';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5 auto 1em;
  margin-top: .25em;
  background: var(--clr-light);
  opacity: 0.5;

 }

.coding {
   margin-bottom: 2em;
  }

@media (min-width: 800px) {
  .coding_paragraphs {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
  }
  .coding + .coding  {
    margin-left: 5em;

  }
}

/* AboutMe section */

.about-me {
  max-width: 1000px;
  margin: 0 auto;

}

.about-me__body {
  margin: 0 auto;
}

.about-me_title {
  grid-area: title;
  text-align: left;
  font-weight:var(--fw-bold)


}

.about_me_pic {
  grid-area: img;
  min-width: 320px;
  max-width: 400px;
  position: relative;
  box-shadow:var(--bs);
  z-index: 2;
  align-self: start;
}


@media(min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-areas: 
      "title img"
      "subtitle img"
      "text img";
      grid-column-gap: 2em;
  }
}

.section__subtitle__about-me {
  grid-column: 1/-1;
  grid-row: 2;
  font-size: var(--fs-h3);
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  height: 80px;
  text-align: left;
  position: relative;
  left: -1em;
  width:calc(100% +2em);
  padding:1em;
  padding-left:2em;
  padding-right:calc(200px + 4em);
}

/*Projects section*/

.list-group {
  padding:1em;
  font-weight: bold;
}


.my-work {
  background-image: url(./img/coding.jpg);
  background-blend-mode: multiply;
  background-color: var(--clr-dark);
  color:var(--clr-light);
  text-align: center;
  padding: 2em 1em;

}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.portfolio_title {
  font-weight:var(--fw-bold)
  }

.portfolio_title::after {
  content:'';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5 auto 0.5em;
  margin-top: .25em;
  background: var(--clr-light);
  opacity: 0.5;

 }
.portfolio_item {
  overflow:hidden;

  }

.portfolio_img {

    min-width: 400px;
    min-height: 400px;
    transition: 
    transform 750ms cubic-bezier(.5, 0, .5, 1);
    opacity:  250ms linear;
    padding: .25em;
}

.portfolio_img:focus {
  position: relative;
  z-index:2 ;
}

.portfolio_img:hover,
.portfolio_img:focus .portfolio_img {

  transform: scale(1.1);
  opacity: .75;

}

/*Project Items Info section */

.info_list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0;
  padding: 0;


}
.info_link {
  color: var(--clr-accent);
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  padding: .5em;


}

/* footer */

footer {
  background: #111;
  height: 200px;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;


}

footer a {
}

.social_link {
  color: var(--clr-accent);
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  padding: .5em;

}

.social_link:hover {
  opacity: .7;
}

.social_list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0;
  padding: 0;


}

/* Project Info Page */
.project-info-image {
  grid-area: img;
  min-width: 250px;
  max-width: 320px;
  position: relative;
  z-index: 2;
  box-shadow:var(--bs);
}


.portfolio-item-individual {
  text-align: center;
  position: relative;
  padding: 0 2em 2em;
  max-width: 1000px
  margin 0 auto;
}

.additional-photos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.section__subtitle__porfolio {

  font-size: var(--fs-h3);
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  height: 80px;
  text-align: left;
  position: relative;
  padding:1em;
  padding-left:2em;
  padding-right:calc(200px + 4em);
  width: 100%;
}

.section__title__porfolio {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

